@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 14px 18px;

  /* position: absolute; */
  width: 414px;
  height: 65px;
  left: 0px;
  top: 0px;

  background: #0e4462;
  border-radius: 4px;
}

.freshkeeper_header {
  position: static;

  font-family: 'Pacifico', cursive;

  font-weight: normal;
  font-size: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #49beff;

  /* Inside Auto Layout */

  /* flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px; */
}
